@import '~bootstrap/scss/bootstrap';

header {
    width: 100%;
    height: 3.5rem;
}

#sidebarMenu {
    height: calc(100vh - 3.5rem);

    .nav-link {
        font-weight: 500;
        color: #333;

        &:hover {
            color: #2470dc;
        }

        &.active {
            color: #2470dc;
        }
    }
}

.index_image,
.show_image,
.edit_image {
    object-fit: cover;
    object-position: top center;
}

.index_image {
    height: 50px;
    width: 100px;
}

.show_image {
    max-height: 50vh;
    width: 100%;
}

.edit_image {
    height: 75px;
    width: 150px;
}